h1{font-family: 'Redressed', cursive;
    background-color: seashell;
color:sienna;
padding:0.5em;}

p{font-family: 'Nunito', sans-serif;
    background-color: saddlebrown;
color: seagreen;
padding: 0.5em;}




div{font-family: 'Redressed', cursive;
background-color: brown;
color:white;
margin:20px;
padding:20px;
border: 20px solid pink;}




