header{color:maroon;
background-color:teal;
padding: 0.5em;
border-bottom: 5em;
border-radius: 0.5em;
font-family: 'Montserrat', sans-serif;
}

main{color: black;
background-color:gray;
padding:0.3em;
border-radius: 0.5em;
margin-top: 0.9em;
font-family: 'Montserrat', sans-serif;
text-align: center;}

body{
    background-color:#F0D43A;}
}

.menubar{align-items: flex-start;
    }
.nav{
    text-align: right;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    display: inline-block;
    margin-top:15px;
}
.nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}
.nav ul li a:hover{
    color:maroon;
    
}

